{% extends 'base.html' %} {% block content %}
<h1 class="text-blue-700 text-3xl text-center font-bold font-mono">
  this is Home!
</h1>

<div class="">
  <div>
    <form
      class="flex flex-col max-w-screen-md mx-auto gap-3 items-center justify-center mt-5"
    >
      <input
        class="border border-gray-700 shadow rounded-lg text-xl"
        type="text"
        name="name"
      />
      <select class="max-w-screen-md" name="transactions" id="">
        <option disabled value="">--Select--</option>
        <option value="">transaction 1</option>
        <option value="">transaction 2</option>
      </select>
      <button
        class="bg-green-400 border border-green-700 p-2 text-md font-semibold rounded-lg shadow"
        type="submit"
      >
        Generate
      </button>
    </form>
  </div>
</div>
{% endblock %}
