{% import "_macros.html" as macros %} {{ macros.head() }}
<section class="max-w-screen-xl mx-auto">
  <h1 class="font-semibold text-2xl text-center">Edit User</h1>
  <div class="flex flex-col" hx-target="this">
    <input class="border font-bold" type="text" value="{{ user.name }}" />
    <input class="mt-1 border" type="text" value="{{ user.type }}" />
  </div>
  <div class="mt-3">
    <button
      class="p-2 border border-green-500 rounded-md max-w-sm shadow bg-green-300"
      hx-get="{{url_for('edit_user', user_id=user.id)}}"
    >
      Edit User
    </button>
  </div>
</section>
