{% import "_macros.html" as macros %} {{ macros.head() }}
<section class="p-5" hx-target="this" hx-swap="outerHTML">
  <!-- <h1 class="text-center text-2xl font-semibold">Edit User</h1> -->
  <form>
    <div class="flex flex-col text-xl" hx-target="this">
      <input
        name="name"
        class="border font-bold rounded-sm p-2"
        type="text"
        value="{{ user.name }}"
      />
      <input
        name="type"
        class="mt-1 border rounded-sm p-2"
        type="text"
        value="{{ user.type }}"
      />
    </div>
    <div class="mt-3 flex">
      <button
        type="submit"
        hx-put="{{url_for('edit_user', user_id=user.id)}}"
        class="p-2 border border-blue-500 rounded-md max-w-sm shadow bg-blue-300"
      >
        Submit
      </button>
      <button
        class="ml-1 p-2 border border-red-500 rounded-md max-w-sm shadow bg-red-300"
      >
        Cancel
      </button>
      <button
        class="ms-auto p-2 border border-yellow-500 rounded-md max-w-sm shadow bg-yellow-300"
      >
        Delete User
      </button>
    </div>
  </form>
</section>
